@{
    ViewData["Title"] = "Home";
}

<h1>Главная страница</h1>

<p>Навигация по разделам:</p>

<ul>
    <li><a href="/Readers">Readers</a></li>
    <li><a href="/Authors">Authors</a></li>
    <li><a href="/Books">Books</a></li>
    <li><a href="/Borrowings">Borrowings</a></li>
    <li><a href="/Reviews">Reviews</a></li>
</ul>